
<div class="tile is-parent">
  <a href="/reviews/{{id}}">
    <article class="tile is-child notification is-info">
      <a href="/games/{{game_id}}"><p class="title">{{title}}</p></a>
      <p>{{review}}</p>
      <p>--{{user.username}} {{date_posted}}</p>
    </article>
  </a>
</div>