<div class="tile is-parent">
    <article class="tile is-child notification is-danger ">
        <div class="level columns">
            <div class="level-left column is-half">
                <a class="button is-danger" href="/games/{{game_id}}">
                    <p class="title">{{title}}</p>
                </a>
            </div>
            <div class="level-right column is-half">
                <a class="button is-primary is-pulled-right" href="/reviews/{{id}}">
                    <p>Go to Review Page</p>
                </a>
            </div>
        </div>

        {{#if recommendation}}
        <p>Recommended: &nbsp<strong>Yes</strong> </p>
        {{else}}
        <p>Recommended: &nbsp<strong>No</strong></p>
        {{/if}}
        <p class="m-3">{{review}}</p>
        <p>--{{user.username}} {{date_posted}}</p>
    </article>
</div>