<div class="tile is-parent has-background-primary">
    <button class="add-game button is-danger" type="submit" data-id="{{id}}" data-cover="{{cover}}" data-name="{{name}}"
        data-summary="{{summary}}" data-rating="{{total_rating}}">Add Game</button>
    <article class="tile is-child notification is-primary">
        <p class="title">{{name}}</p>
        <p>{{summary}}</p>
    </article>
</div>