<div class="tile is-parent">
    <form id="new-game">
        <div class="field" id="dataholder" data-id="{{id}}" data-cover="{{cover}}" data-name="{{name}}"
            data-summary="{{summary}}" data-rating="{{total_rating}}"></div>
        <div>
            <button id="add-game" type="submit">
                <article class="tile is-child notification is-info">
                    <p class="title">{{name}}</p>
                    <p>{{summary}}</p>
                </article>
            </button>
        </div>
    </form>
</div>

