<section class="box p-1 m-6">
    <header class="level is-mobile">
        <a href="/games/{{review.game_id}}"><h2 class="level-item has-text-centered title" id="review-title" data-post="{{review.id}}">{{review.title}}</h2></a>
        <p class="level-item has-text-centered">Created by: {{review.user.username}} {{review.date_posted}}</p>
    </header>
    <p class="p-5 container is-fullhd">{{review.review}}</p>
</section>
{{!-- cycle through any comments --}}
<div>
    {{#each review.comments as |comment|}}
    {{> commentlist}}
    {{/each}}
</div>
<div class="box p-1 m-6 custom-box">
    <h2 class="title p-2 custom-text"></h2>
    <form class="p-5 m-0" id="comment-form">
        <div class="field">
            <label class="label" for="comment-text">Comment:</label>
            <textarea class="input" type="text" id="comment-text" ></textarea>
        </div>
        <div>
            <button class="button custom-button" type="submit">Submit</button>
        </div>
    </form>
</div>

{{!-- script to go to create comment screen --}}
<script src="../js/comment.js"></script>